:where(ore-tag) {
  --ore-tag-unit: 0.125rem;
  --ore-tag-background: #1e1e1f;
  --ore-tag-foreground: #ffffff;
  --ore-tag-outline: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: calc(var(--ore-tag-unit) * 8.5);
  padding: 0 calc(var(--ore-tag-unit) * 2.5);
  color: var(--ore-tag-foreground);
  background: var(--ore-tag-background);
  box-shadow: 0 0 0 var(--ore-tag-unit) var(--ore-tag-outline);
  font-family: var(--ore-font-body);
  font-size: calc(var(--ore-tag-unit) * 7);
  font-weight: 400;
  line-height: calc(var(--ore-tag-unit) * 8);
  white-space: nowrap;
}

:where(ore-tag[outlined]) {
  --ore-tag-outline: var(--ore-color-outline);
}

:where(ore-tag[variant="secondary"]) {
  --ore-tag-background: #313233;
}

:where(ore-tag[variant="primary"]) {
  --ore-tag-background: #6cc349;
  --ore-tag-foreground: var(--ore-color-outline);
}

:where(ore-tag[variant="informative"]) {
  --ore-tag-background: #8cb3ff;
  --ore-tag-foreground: var(--ore-color-outline);
}

:where(ore-tag[variant="notice"]) {
  --ore-tag-background: #ffe866;
  --ore-tag-foreground: var(--ore-color-outline);
}

:where(ore-tag[variant="warning"]) {
  --ore-tag-background: #ff8080;
  --ore-tag-foreground: var(--ore-color-outline);
}

:where(ore-tag[variant="realms-informative"]) {
  --ore-tag-background: #ac90f3;
  --ore-tag-foreground: var(--ore-color-outline);
}
