:where(ore-tag) {
  --ore-tag-unit: var(--ore-size-unit);
  --ore-tag-background: var(--ore-color-neutral-surface-deep);
  --ore-tag-foreground: var(--ore-color-neutral-text);
  --ore-tag-border: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: calc(var(--ore-tag-unit) * 8.5);
  padding: 0 calc(var(--ore-tag-unit) * 2.5);
  color: var(--ore-tag-foreground);
  background: var(--ore-tag-background);
  box-shadow: 0 0 0 var(--ore-tag-unit) var(--ore-tag-border);
  font-family: var(--ore-font-body);
  font-size: calc(var(--ore-tag-unit) * 7);
  font-weight: 400;
  line-height: calc(var(--ore-tag-unit) * 8);
  white-space: nowrap;
}

:where(ore-tag[outlined]) {
  --ore-tag-border: var(--ore-color-border);
}

:where(ore-tag[variant="secondary"]) {
  --ore-tag-background: var(--ore-color-neutral-surface-raised);
}

:where(ore-tag[variant="primary"]) {
  --ore-tag-background: var(--ore-color-primary-tint-background);
  --ore-tag-foreground: var(--ore-color-primary-tint-foreground);
}

:where(ore-tag[variant="informative"]) {
  --ore-tag-background: var(--ore-color-informative-tint-background);
  --ore-tag-foreground: var(--ore-color-informative-tint-foreground);
}

:where(ore-tag[variant="notice"]) {
  --ore-tag-background: var(--ore-color-notice-tint-background);
  --ore-tag-foreground: var(--ore-color-notice-tint-foreground);
}

:where(ore-tag[variant="warning"]) {
  --ore-tag-background: var(--ore-color-destructive-tint-background);
  --ore-tag-foreground: var(--ore-color-destructive-tint-foreground);
}

:where(ore-tag[variant="realms-informative"]) {
  --ore-tag-background: var(--ore-color-realms-informative-tint-background);
  --ore-tag-foreground: var(--ore-color-neutral-border);
}
