:where(ore-radio) {
  --ore-radio-unit: var(--ore-size-unit);
  --ore-radio-background: var(--ore-color-neutral-50-background);
  --ore-radio-highlight: var(--ore-color-neutral-50-highlight);
  --ore-radio-border: var(--ore-color-border);
  --ore-radio-indicator-light: var(--ore-color-white);
  --ore-radio-indicator-dim: var(--ore-color-gray-20);
  --ore-radio-indicator-dark: var(--ore-color-gray-30);
  --ore-radio-active-background: var(--ore-color-primary-background);
  --ore-radio-active-background-hover: var(
    --ore-color-primary-background-hover
  );
  --ore-radio-active-background-pressed: var(
    --ore-color-primary-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-primary-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-primary-highlight-hover);
  --ore-radio-active-highlight-pressed: var(
    --ore-color-primary-highlight-pressed
  );

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--ore-radio-unit) * 4);
  min-height: calc(var(--ore-radio-unit) * 16);
  padding-left: calc(var(--ore-radio-unit) * 16);
  color: var(--ore-color-border);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where(ore-radio)::before {
  position: absolute;
  top: 50%;
  left: calc(var(--ore-radio-unit) * 3.5);
  box-sizing: border-box;
  width: calc(var(--ore-radio-unit) * 9);
  height: calc(var(--ore-radio-unit) * 9);
  background: var(--ore-radio-background);
  box-shadow:
    inset 0 0 0 var(--ore-radio-unit) var(--ore-radio-border),
    inset 0 0 0 calc(var(--ore-radio-unit) * 2) var(--ore-radio-highlight);
  content: "";
  transform: translateY(-50%) rotate(-45deg);
}

:where(ore-radio[checked])::before {
  background:
    linear-gradient(
        to right,
        var(--ore-radio-indicator-dim) 50%,
        var(--ore-radio-indicator-light) 0
      )
      center calc(50% - var(--ore-radio-unit)) / calc(var(--ore-radio-unit) * 4)
      calc(var(--ore-radio-unit) * 2) no-repeat,
    linear-gradient(
        to right,
        var(--ore-radio-indicator-dark) 50%,
        var(--ore-radio-indicator-dim) 0
      )
      center calc(50% + var(--ore-radio-unit)) / calc(var(--ore-radio-unit) * 4)
      calc(var(--ore-radio-unit) * 2) no-repeat,
    var(--ore-radio-background);
}

:where(ore-radio[checked]) {
  --ore-radio-background: var(--ore-radio-active-background);
  --ore-radio-highlight: var(--ore-radio-active-highlight);
}

:where(
  ore-radio[color="secondary"],
  ore-radio[color="dungeons"],
  ore-radio[color="legends"],
  ore-radio[color="gold"]
) {
  --ore-radio-indicator-light: var(--ore-color-gray-80);
  --ore-radio-indicator-dim: var(--ore-color-gray-90);
  --ore-radio-indicator-dark: var(--ore-color-gray-100);
}

:where(ore-radio:hover:not([disabled], [form-disabled])) {
  --ore-radio-background: var(--ore-color-neutral-50-background-hover);
  --ore-radio-highlight: var(--ore-color-neutral-50-highlight-hover);
}

:where(ore-radio[checked]:hover:not([disabled], [form-disabled])) {
  --ore-radio-background: var(--ore-radio-active-background-hover);
  --ore-radio-highlight: var(--ore-radio-active-highlight-hover);
}

:where(
  ore-radio:active:not([disabled], [form-disabled]),
  ore-radio[pressed]:not([disabled], [form-disabled])
) {
  --ore-radio-background: var(--ore-color-neutral-50-background-pressed);
  --ore-radio-highlight: var(--ore-color-neutral-50-highlight-pressed);
}

:where(
  ore-radio[checked]:active:not([disabled], [form-disabled]),
  ore-radio[checked][pressed]:not([disabled], [form-disabled])
) {
  --ore-radio-background: var(--ore-radio-active-background-pressed);
  --ore-radio-highlight: var(--ore-radio-active-highlight-pressed);
}

:where(ore-radio[color="secondary"]) {
  --ore-radio-active-background: var(--ore-color-secondary-background);
  --ore-radio-active-background-hover: var(
    --ore-color-secondary-background-hover
  );
  --ore-radio-active-background-pressed: var(
    --ore-color-secondary-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-secondary-highlight);
  --ore-radio-active-highlight-hover: var(
    --ore-color-secondary-highlight-hover
  );
  --ore-radio-active-highlight-pressed: var(
    --ore-color-secondary-highlight-pressed
  );
}

:where(ore-radio[color="destructive"]) {
  --ore-radio-active-background: var(--ore-color-destructive-background);
  --ore-radio-active-background-hover: var(
    --ore-color-destructive-background-hover
  );
  --ore-radio-active-background-pressed: var(
    --ore-color-destructive-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-destructive-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-destructive-highlight);
  --ore-radio-active-highlight-pressed: var(--ore-color-destructive-highlight);
}

:where(ore-radio[color="dungeons"]) {
  --ore-radio-active-background: var(--ore-color-dungeons-background);
  --ore-radio-active-background-hover: var(
    --ore-color-dungeons-background-hover
  );
  --ore-radio-active-background-pressed: var(
    --ore-color-dungeons-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-dungeons-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-dungeons-highlight);
  --ore-radio-active-highlight-pressed: var(--ore-color-dungeons-highlight);
}

:where(ore-radio[color="legends"]) {
  --ore-radio-active-background: var(--ore-color-legends-background);
  --ore-radio-active-background-hover: var(
    --ore-color-legends-background-hover
  );
  --ore-radio-active-background-pressed: var(
    --ore-color-legends-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-legends-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-legends-highlight);
  --ore-radio-active-highlight-pressed: var(--ore-color-legends-highlight);
}

:where(ore-radio[color="realms"]) {
  --ore-radio-active-background: var(--ore-color-realms-background);
  --ore-radio-active-background-hover: var(--ore-color-realms-background-hover);
  --ore-radio-active-background-pressed: var(
    --ore-color-realms-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-realms-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-realms-highlight);
  --ore-radio-active-highlight-pressed: var(--ore-color-realms-highlight);
}

:where(ore-radio[color="gold"]) {
  --ore-radio-active-background: var(--ore-color-gold-background);
  --ore-radio-active-background-hover: var(--ore-color-gold-background-hover);
  --ore-radio-active-background-pressed: var(
    --ore-color-gold-background-pressed
  );
  --ore-radio-active-highlight: var(--ore-color-gold-highlight);
  --ore-radio-active-highlight-hover: var(--ore-color-gold-highlight);
  --ore-radio-active-highlight-pressed: var(--ore-color-gold-highlight);
}

:where(ore-radio:focus-visible)::before {
  box-shadow:
    0 0 0 var(--ore-radio-unit) var(--ore-color-focus-ring),
    inset 0 0 0 var(--ore-radio-unit) var(--ore-radio-border),
    inset 0 0 0 calc(var(--ore-radio-unit) * 2) var(--ore-radio-highlight);
}

:where(ore-radio:focus-visible:not([checked])) {
  --ore-radio-highlight: var(--ore-color-neutral-50-highlight-focus);
}

:where(ore-radio[disabled], ore-radio[form-disabled]) {
  --ore-radio-background: var(--ore-color-disabled);
  --ore-radio-highlight: var(--ore-color-disabled);
  --ore-radio-border: var(--ore-color-disabled-border);

  cursor: not-allowed;
}
