:where(ore-button, ore-tab-button) {
  --ore-button-unit: var(--ore-size-unit);
  --ore-button-background-default: var(--ore-color-primary-background);
  --ore-button-background-hover: var(--ore-color-primary-background-hover);
  --ore-button-background-pressed: var(--ore-color-primary-background-pressed);
  --ore-button-highlight-default: var(--ore-color-primary-highlight);
  --ore-button-highlight-hover: var(--ore-color-primary-highlight-hover);
  --ore-button-highlight-pressed: var(--ore-color-primary-highlight-pressed);
  --ore-button-background: var(--ore-button-background-default);
  --ore-button-highlight: var(--ore-button-highlight-default);
  --ore-button-border: var(--ore-color-border);
  --ore-button-shadow: var(--ore-color-primary-shadow);
  --ore-button-foreground: var(--ore-color-foreground);
  --ore-button-font-family: var(--ore-font-body);
  --ore-button-font-size: calc(var(--ore-button-unit) * 7);
  --ore-button-text-shadow: none;
  --ore-button-face-offset: 0px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: calc(var(--ore-button-unit) * 64);
  min-height: calc(var(--ore-button-unit) * 22);
  padding: 0 calc(var(--ore-button-unit) * 8) calc(var(--ore-button-unit) * 2);
  color: var(--ore-button-foreground);
  background:
    linear-gradient(var(--ore-button-border), var(--ore-button-border)) center
      var(--ore-button-face-offset) / 100% var(--ore-button-unit) no-repeat,
    linear-gradient(var(--ore-button-border), var(--ore-button-border)) center
      bottom / 100% var(--ore-button-unit) no-repeat,
    linear-gradient(var(--ore-button-border), var(--ore-button-border)) left
      var(--ore-button-face-offset) / var(--ore-button-unit)
      calc(100% - var(--ore-button-face-offset)) no-repeat,
    linear-gradient(var(--ore-button-border), var(--ore-button-border)) right
      var(--ore-button-face-offset) / var(--ore-button-unit)
      calc(100% - var(--ore-button-face-offset)) no-repeat,
    linear-gradient(var(--ore-button-shadow), var(--ore-button-shadow)) center
      calc(100% - var(--ore-button-unit)) /
      calc(100% - var(--ore-button-unit) * 2) calc(var(--ore-button-unit) * 2)
      no-repeat,
    linear-gradient(var(--ore-button-highlight), var(--ore-button-highlight))
      center calc(var(--ore-button-unit) + var(--ore-button-face-offset)) /
      calc(100% - var(--ore-button-unit) * 2) var(--ore-button-unit) no-repeat,
    linear-gradient(var(--ore-button-highlight), var(--ore-button-highlight))
      center
      calc(100% - var(--ore-button-unit) * 3 + var(--ore-button-face-offset)) /
      calc(100% - var(--ore-button-unit) * 2) var(--ore-button-unit) no-repeat,
    linear-gradient(var(--ore-button-highlight), var(--ore-button-highlight))
      left calc(var(--ore-button-unit) + var(--ore-button-face-offset)) /
      calc(var(--ore-button-unit) * 2)
      calc(100% - var(--ore-button-unit) * 4 - 1px)
      no-repeat,
    linear-gradient(var(--ore-button-highlight), var(--ore-button-highlight))
      right calc(var(--ore-button-unit) + var(--ore-button-face-offset)) /
      calc(var(--ore-button-unit) * 2)
      calc(100% - var(--ore-button-unit) * 4 - 1px)
      no-repeat,
    var(--ore-button-background);
  font-family: var(--ore-button-font-family);
  font-size: var(--ore-button-font-size);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-shadow: var(--ore-button-text-shadow);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where(ore-button)::before {
  position: absolute;
  top: var(--ore-button-face-offset);
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 var(--ore-button-unit) var(--ore-button-border);
  content: "";
  pointer-events: none;
}

:where(ore-button) {
  position: relative;
}

:where(ore-button[variant="hero"]) {
  --ore-button-font-family: var(--ore-font-display);
  --ore-button-font-size: calc(var(--ore-button-unit) * 9);
  --ore-button-text-shadow: var(--ore-button-unit) var(--ore-button-unit)
    var(--ore-color-text-shadow);
}

:where(ore-button[color="secondary"]) {
  --ore-button-background-default: var(--ore-color-secondary-background);
  --ore-button-background-hover: var(--ore-color-secondary-background-hover);
  --ore-button-background-pressed: var(
    --ore-color-secondary-background-pressed
  );
  --ore-button-highlight-default: var(--ore-color-secondary-highlight);
  --ore-button-highlight-hover: var(--ore-color-secondary-highlight-hover);
  --ore-button-highlight-pressed: var(--ore-color-secondary-highlight-pressed);
  --ore-button-shadow: var(--ore-color-secondary-shadow);
  --ore-button-foreground: var(--ore-color-border);
}

:where(ore-button[color="destructive"]) {
  --ore-button-background-default: var(--ore-color-destructive-background);
  --ore-button-background-hover: var(--ore-color-destructive-background-hover);
  --ore-button-background-pressed: var(
    --ore-color-destructive-background-pressed
  );
  --ore-button-highlight-default: var(--ore-color-destructive-highlight);
  --ore-button-highlight-hover: var(--ore-color-destructive-highlight-hover);
  --ore-button-highlight-pressed: var(
    --ore-color-destructive-highlight-pressed
  );
  --ore-button-shadow: var(--ore-color-destructive-shadow);
}

:where(
  ore-button[color="dungeons"],
  ore-button[color="legends"],
  ore-button[color="gold"],
  ore-button[color="realms"]
) {
  --ore-button-background-default: var(--ore-color-dungeons-background);
  --ore-button-background-hover: var(--ore-color-dungeons-background-hover);
  --ore-button-background-pressed: var(--ore-color-dungeons-background-pressed);
  --ore-button-highlight-default: var(--ore-color-dungeons-highlight);
  --ore-button-highlight-hover: var(--ore-color-dungeons-highlight);
  --ore-button-highlight-pressed: var(--ore-color-dungeons-highlight);
  --ore-button-shadow: var(--ore-color-dungeons-shadow);
  --ore-button-foreground: var(--ore-color-gray-100);
}

:where(ore-button[color="legends"]) {
  --ore-button-background-default: var(--ore-color-legends-background);
  --ore-button-background-hover: var(--ore-color-legends-background-hover);
  --ore-button-background-pressed: var(--ore-color-legends-background-pressed);
  --ore-button-highlight-default: var(--ore-color-legends-highlight);
  --ore-button-highlight-hover: var(--ore-color-legends-highlight);
  --ore-button-highlight-pressed: var(--ore-color-legends-highlight);
  --ore-button-shadow: var(--ore-color-legends-shadow);
  --ore-button-foreground: var(--ore-color-gray-100);
}

:where(ore-button[color="gold"]) {
  --ore-button-background-default: var(--ore-color-gold-background);
  --ore-button-background-hover: var(--ore-color-gold-background-hover);
  --ore-button-background-pressed: var(--ore-color-gold-background-pressed);
  --ore-button-highlight-default: var(--ore-color-gold-highlight);
  --ore-button-highlight-hover: var(--ore-color-gold-highlight);
  --ore-button-highlight-pressed: var(--ore-color-gold-highlight);
  --ore-button-shadow: var(--ore-color-gold-shadow);
  --ore-button-foreground: var(--ore-color-gray-100);
}

:where(ore-button[color="realms"]) {
  --ore-button-background-default: var(--ore-color-realms-background);
  --ore-button-background-hover: var(--ore-color-realms-background-hover);
  --ore-button-background-pressed: var(--ore-color-realms-background-pressed);
  --ore-button-highlight-default: var(--ore-color-realms-highlight);
  --ore-button-highlight-hover: var(--ore-color-realms-highlight);
  --ore-button-highlight-pressed: var(--ore-color-realms-highlight);
  --ore-button-shadow: var(--ore-color-realms-shadow);
  --ore-button-foreground: var(--ore-color-white);
}

:where(ore-button, ore-tab-button):hover:not([disabled], [form-disabled]) {
  --ore-button-background: var(--ore-button-background-hover);
  --ore-button-highlight: var(--ore-button-highlight-hover);
}

:where(
  :is(ore-button, ore-tab-button):active:not([disabled], [form-disabled]),
  :is(ore-button, ore-tab-button)[pressed]:not([disabled], [form-disabled])
) {
  --ore-button-background: var(--ore-button-background-pressed);
  --ore-button-highlight: var(--ore-button-highlight-pressed);
  --ore-button-shadow: transparent;
  --ore-button-face-offset: calc(var(--ore-button-unit) * 2);

  padding-top: var(--ore-button-face-offset);
  padding-bottom: 0;
  clip-path: inset(var(--ore-button-face-offset) 0 0);
}

:where(ore-button, ore-tab-button):focus-visible {
  outline: var(--ore-button-unit) solid var(--ore-color-focus-ring);
  outline-offset: 0;
}

:where(
  ore-button[disabled],
  ore-button[form-disabled],
  ore-tab-button[disabled],
  ore-tab-button[form-disabled]
) {
  --ore-button-background: var(--ore-color-disabled);
  --ore-button-highlight: var(--ore-color-disabled);
  --ore-button-border: var(--ore-color-disabled-border);
  --ore-button-shadow: var(--ore-color-secondary-background-pressed);

  color: var(--ore-color-disabled-foreground);
  --ore-button-text-shadow: none;
  cursor: not-allowed;
}
