:where(ore-scrollbar, .ore-scrollbar) {
  --ore-scrollbar-unit: var(--ore-size-unit);
  --ore-scrollbar-size: calc(var(--ore-scrollbar-unit) * 6);
  --ore-scrollbar-horizontal-size: calc(var(--ore-scrollbar-unit) * 8);
  --ore-scrollbar-track-size: calc(var(--ore-scrollbar-unit) * 2);
  --ore-scrollbar-track: var(--ore-color-neutral-highlight-pressed);
  --ore-scrollbar-thumb-border: var(--ore-color-border);
  --ore-scrollbar-thumb-highlight: var(--ore-color-secondary-highlight);
  --ore-scrollbar-thumb-background: var(--ore-color-secondary-background);
  --ore-scrollbar-thumb-shadow: var(--ore-color-secondary-shadow);

  display: block;
  overflow: auto;
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar {
  width: var(--ore-scrollbar-size);
  height: var(--ore-scrollbar-horizontal-size);
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-track:vertical {
  background: linear-gradient(
      var(--ore-scrollbar-track),
      var(--ore-scrollbar-track)
    )
    center / var(--ore-scrollbar-track-size) 100% no-repeat;
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-track:horizontal {
  background: linear-gradient(
      var(--ore-scrollbar-track),
      var(--ore-scrollbar-track)
    )
    center / 100% var(--ore-scrollbar-track-size) no-repeat;
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-thumb:vertical {
  border-radius: 0;
  background:
    linear-gradient(
        var(--ore-scrollbar-thumb-background),
        var(--ore-scrollbar-thumb-background)
      )
      center calc(var(--ore-scrollbar-unit) * 2) /
      calc(100% - var(--ore-scrollbar-unit) * 4)
      calc(100% - var(--ore-scrollbar-unit) * 6) no-repeat,
    linear-gradient(
        var(--ore-scrollbar-thumb-shadow),
        var(--ore-scrollbar-thumb-shadow)
      )
      center bottom var(--ore-scrollbar-unit) /
      calc(100% - var(--ore-scrollbar-unit) * 2)
      calc(var(--ore-scrollbar-unit) * 2) no-repeat,
    linear-gradient(
        var(--ore-scrollbar-thumb-highlight),
        var(--ore-scrollbar-thumb-highlight)
      )
      center var(--ore-scrollbar-unit) /
      calc(100% - var(--ore-scrollbar-unit) * 2)
      calc(100% - var(--ore-scrollbar-unit) * 4) no-repeat,
    var(--ore-scrollbar-thumb-border);
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0;
  background:
    linear-gradient(
        var(--ore-scrollbar-thumb-background),
        var(--ore-scrollbar-thumb-background)
      )
      center calc(var(--ore-scrollbar-unit) * 2) /
      calc(100% - var(--ore-scrollbar-unit) * 4)
      calc(var(--ore-scrollbar-unit) * 2) no-repeat,
    linear-gradient(
        var(--ore-scrollbar-thumb-shadow),
        var(--ore-scrollbar-thumb-shadow)
      )
      center bottom var(--ore-scrollbar-unit) /
      calc(100% - var(--ore-scrollbar-unit) * 2)
      calc(var(--ore-scrollbar-unit) * 2) no-repeat,
    linear-gradient(
        var(--ore-scrollbar-thumb-highlight),
        var(--ore-scrollbar-thumb-highlight)
      )
      center var(--ore-scrollbar-unit) /
      calc(100% - var(--ore-scrollbar-unit) * 2)
      calc(var(--ore-scrollbar-unit) * 4) no-repeat,
    var(--ore-scrollbar-thumb-border);
}

:where(ore-scrollbar, .ore-scrollbar)::-webkit-scrollbar-corner {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  :where(ore-scrollbar, .ore-scrollbar) {
    scrollbar-color: var(--ore-scrollbar-thumb-background)
      var(--ore-scrollbar-track);
    scrollbar-width: thin;
  }
}
