:where(ore-progress) {
  --ore-progress-unit: var(--ore-size-unit);
  --ore-progress-value: 0;
  --ore-progress-frame: var(--ore-color-foreground);
  --ore-progress-bar: var(--ore-color-foreground);
  --ore-progress-label: var(--ore-color-foreground);
  --ore-progress-label-gap: calc(var(--ore-progress-unit) * 2);

  display: inline-grid;
  grid-template-areas:
    "top"
    "track"
    "bottom";
  box-sizing: border-box;
  width: min(100%, calc(var(--ore-progress-unit) * 220));
  color: var(--ore-progress-label);
  font-family: var(--ore-font-body);
}

:where(ore-progress > .ore-progress-track) {
  position: relative;
  grid-area: track;
  box-sizing: border-box;
  width: 100%;
  height: calc(var(--ore-progress-unit) * 8);
  border: var(--ore-progress-unit) solid var(--ore-progress-frame);
}

:where(ore-progress > .ore-progress-track)::after {
  position: absolute;
  top: var(--ore-progress-unit);
  bottom: var(--ore-progress-unit);
  left: var(--ore-progress-unit);
  width: calc(
    (100% - var(--ore-progress-unit) * 2) * var(--ore-progress-value)
  );
  background: var(--ore-progress-bar);
  content: "";
}

:where(ore-progress > .ore-progress-label) {
  grid-area: bottom;
  margin-top: var(--ore-progress-label-gap);
  font-size: calc(var(--ore-progress-unit) * 6);
  line-height: calc(var(--ore-progress-unit) * 7);
  white-space: nowrap;
}

:where(ore-progress[variant="plain"] > .ore-progress-label) {
  display: none;
}

:where(
  ore-progress[variant="labeled"][label-position="top"] > .ore-progress-label
) {
  grid-area: top;
  margin-top: 0;
  margin-bottom: var(--ore-progress-label-gap);
}

:where(ore-progress[label-align="start"] > .ore-progress-label) {
  justify-self: start;
}

:where(ore-progress[label-align="center"] > .ore-progress-label) {
  justify-self: center;
}

:where(ore-progress[label-align="end"] > .ore-progress-label) {
  justify-self: end;
}
