:where(ore-icon-button) {
  --ore-icon-button-unit: 0.125rem;
  --ore-icon-button-surface: #48494a;
  --ore-icon-button-edge-light: #5a5b5c;
  --ore-icon-button-edge-dark: #333334;
  --ore-icon-button-corner: #49494b;
  --ore-icon-button-outline: var(--ore-color-outline);
  --ore-icon-button-foreground: var(--ore-color-foreground);

  display: inline-grid;
  place-items: center;
  box-sizing: border-box;
  width: var(--ore-icon-button-width, calc(var(--ore-icon-button-unit) * 18));
  height: var(--ore-icon-button-height, calc(var(--ore-icon-button-unit) * 18));
  padding: var(--ore-icon-button-unit);
  color: var(--ore-icon-button-foreground);
  background:
    linear-gradient(
        var(--ore-icon-button-corner),
        var(--ore-icon-button-corner)
      )
      right top / var(--ore-icon-button-unit) var(--ore-icon-button-unit)
      no-repeat,
    linear-gradient(
        var(--ore-icon-button-corner),
        var(--ore-icon-button-corner)
      )
      left bottom / var(--ore-icon-button-unit) var(--ore-icon-button-unit)
      no-repeat,
    linear-gradient(
        var(--ore-icon-button-edge-light),
        var(--ore-icon-button-edge-light)
      )
      left top / calc(100% - var(--ore-icon-button-unit))
      var(--ore-icon-button-unit) no-repeat,
    linear-gradient(
        var(--ore-icon-button-edge-light),
        var(--ore-icon-button-edge-light)
      )
      left top / var(--ore-icon-button-unit)
      calc(100% - var(--ore-icon-button-unit)) no-repeat,
    linear-gradient(
        var(--ore-icon-button-edge-dark),
        var(--ore-icon-button-edge-dark)
      )
      right bottom / calc(100% - var(--ore-icon-button-unit))
      var(--ore-icon-button-unit) no-repeat,
    linear-gradient(
        var(--ore-icon-button-edge-dark),
        var(--ore-icon-button-edge-dark)
      )
      right bottom / var(--ore-icon-button-unit)
      calc(100% - var(--ore-icon-button-unit)) no-repeat,
    var(--ore-icon-button-surface);
  box-shadow: var(
    --ore-icon-button-shadow,
    0 0 0 var(--ore-icon-button-unit) var(--ore-icon-button-outline)
  );
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where(ore-icon-button > ore-icon) {
  width: calc(var(--ore-icon-button-unit) * 6);
  height: calc(var(--ore-icon-button-unit) * 6);
}

:where(ore-icon-button:hover:not([disabled], [form-disabled])) {
  --ore-icon-button-surface: var(--ore-color-neutral-surface-hover);
  --ore-icon-button-edge-light: var(--ore-color-neutral-border-hover);
  --ore-icon-button-corner: var(--ore-color-neutral-border);
}

:where(
  ore-icon-button:active:not([disabled], [form-disabled]),
  ore-icon-button[pressed]:not([disabled], [form-disabled])
) {
  --ore-icon-button-surface: var(--ore-color-neutral-surface-pressed);
  --ore-icon-button-edge-light: var(--ore-color-neutral-thick);
  --ore-icon-button-edge-dark: var(--ore-color-neutral-border-pressed);
  --ore-icon-button-corner: var(--ore-color-neutral-surface);
}

:where(ore-icon-button:focus-visible) {
  outline: var(--ore-icon-button-unit) solid var(--ore-color-focus);
  outline-offset: var(--ore-icon-button-unit);
}

:where(ore-icon-button[disabled], ore-icon-button[form-disabled]) {
  --ore-icon-button-surface: var(--ore-color-disabled);
  --ore-icon-button-edge-light: var(--ore-color-disabled-outline);
  --ore-icon-button-edge-dark: #b1b2b5;
  --ore-icon-button-corner: #a3a4a6;
  --ore-icon-button-outline: var(--ore-color-disabled-outline);
  --ore-icon-button-foreground: #666666;

  cursor: not-allowed;
}
