:where(ore-checkbox) {
  --ore-checkbox-unit: 0.125rem;
  --ore-checkbox-surface: #8c8d90;
  --ore-checkbox-border: #97989b;
  --ore-checkbox-outline: var(--ore-color-outline);
  --ore-checkbox-indicator: var(--ore-color-foreground);

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--ore-checkbox-unit) * 4);
  min-height: calc(var(--ore-checkbox-unit) * 12);
  color: var(--ore-color-outline);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where(ore-checkbox)::before {
  flex: none;
  box-sizing: border-box;
  width: calc(var(--ore-checkbox-unit) * 12);
  height: calc(var(--ore-checkbox-unit) * 12);
  background: var(--ore-checkbox-surface);
  box-shadow:
    inset 0 0 0 var(--ore-checkbox-unit) var(--ore-checkbox-outline),
    inset 0 0 0 calc(var(--ore-checkbox-unit) * 2) var(--ore-checkbox-border);
  content: "";
}

:where(ore-checkbox[checked])::after {
  position: absolute;
  top: 50%;
  left: calc(var(--ore-checkbox-unit) * 2);
  width: calc(var(--ore-checkbox-unit) * 8);
  height: calc(var(--ore-checkbox-unit) * 8);
  background: var(--ore-checkbox-indicator);
  content: "";
  mask: url("../../assets/icons/tick.svg") center / contain no-repeat;
  transform: translateY(-50%);
}

:where(ore-checkbox[checked]) {
  --ore-checkbox-surface: var(--ore-color-primary-surface);
  --ore-checkbox-border: var(--ore-color-primary-border);
}

:where(ore-checkbox:hover:not([disabled], [form-disabled])) {
  --ore-checkbox-surface: #b1b2b5;
  --ore-checkbox-border: #b9babc;
}

:where(ore-checkbox[checked]:hover:not([disabled], [form-disabled])) {
  --ore-checkbox-surface: var(--ore-color-primary-surface-hover);
  --ore-checkbox-border: var(--ore-color-primary-border-hover);
}

:where(
  ore-checkbox:active:not([disabled], [form-disabled]),
  ore-checkbox[pressed]:not([disabled], [form-disabled])
) {
  --ore-checkbox-surface: #58585a;
  --ore-checkbox-border: #68686a;
}

:where(
  ore-checkbox[checked]:active:not([disabled], [form-disabled]),
  ore-checkbox[checked][pressed]:not([disabled], [form-disabled])
) {
  --ore-checkbox-surface: var(--ore-color-primary-surface-pressed);
  --ore-checkbox-border: var(--ore-color-primary-border-pressed);
}

:where(ore-checkbox:focus-visible)::before {
  box-shadow:
    0 0 0 var(--ore-checkbox-unit) var(--ore-color-focus),
    inset 0 0 0 var(--ore-checkbox-unit) var(--ore-checkbox-outline),
    inset 0 0 0 calc(var(--ore-checkbox-unit) * 2) var(--ore-checkbox-border);
}

:where(ore-checkbox:focus-visible:not([checked])) {
  --ore-checkbox-border: #a3a4a6;
}

:where(ore-checkbox[disabled], ore-checkbox[form-disabled]) {
  --ore-checkbox-surface: var(--ore-color-disabled);
  --ore-checkbox-border: var(--ore-color-disabled);
  --ore-checkbox-outline: var(--ore-color-disabled-outline);
  --ore-checkbox-indicator: var(--ore-color-disabled-outline);

  cursor: not-allowed;
}
