:where(ore-checkbox) {
  --ore-checkbox-unit: var(--ore-size-unit);
  --ore-checkbox-background: var(--ore-color-neutral-50-background);
  --ore-checkbox-highlight: var(--ore-color-neutral-50-highlight);
  --ore-checkbox-border: var(--ore-color-border);
  --ore-checkbox-indicator: var(--ore-color-foreground);
  --ore-checkbox-active-background: var(--ore-color-primary-background);
  --ore-checkbox-active-background-hover: var(--ore-color-primary-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-primary-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-primary-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-primary-highlight-hover);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-primary-highlight-pressed);

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--ore-checkbox-unit) * 4);
  min-height: calc(var(--ore-checkbox-unit) * 12);
  color: var(--ore-color-border);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where(ore-checkbox)::before {
  flex: none;
  box-sizing: border-box;
  width: calc(var(--ore-checkbox-unit) * 12);
  height: calc(var(--ore-checkbox-unit) * 12);
  background: var(--ore-checkbox-background);
  box-shadow:
    inset 0 0 0 var(--ore-checkbox-unit) var(--ore-checkbox-border),
    inset 0 0 0 calc(var(--ore-checkbox-unit) * 2) var(--ore-checkbox-highlight);
  content: "";
}

:where(ore-checkbox[checked])::after {
  position: absolute;
  top: 50%;
  left: calc(var(--ore-checkbox-unit) * 2);
  width: calc(var(--ore-checkbox-unit) * 8);
  height: calc(var(--ore-checkbox-unit) * 8);
  background: var(--ore-checkbox-indicator);
  content: "";
  mask: url("../../assets/icons/tick.svg") center / contain no-repeat;
  transform: translateY(-50%);
}

:where(ore-checkbox[checked]) {
  --ore-checkbox-background: var(--ore-checkbox-active-background);
  --ore-checkbox-highlight: var(--ore-checkbox-active-highlight);
}

:where(
  ore-checkbox[color="secondary"],
  ore-checkbox[color="dungeons"],
  ore-checkbox[color="legends"],
  ore-checkbox[color="gold"]
) {
  --ore-checkbox-indicator: var(--ore-color-gray-100);
}

:where(ore-checkbox:hover:not([disabled], [form-disabled])) {
  --ore-checkbox-background: var(--ore-color-neutral-50-background-hover);
  --ore-checkbox-highlight: var(--ore-color-neutral-50-highlight-hover);
}

:where(ore-checkbox[checked]:hover:not([disabled], [form-disabled])) {
  --ore-checkbox-background: var(--ore-checkbox-active-background-hover);
  --ore-checkbox-highlight: var(--ore-checkbox-active-highlight-hover);
}

:where(
  ore-checkbox:active:not([disabled], [form-disabled]),
  ore-checkbox[pressed]:not([disabled], [form-disabled])
) {
  --ore-checkbox-background: var(--ore-color-neutral-50-background-pressed);
  --ore-checkbox-highlight: var(--ore-color-neutral-50-highlight-pressed);
}

:where(
  ore-checkbox[checked]:active:not([disabled], [form-disabled]),
  ore-checkbox[checked][pressed]:not([disabled], [form-disabled])
) {
  --ore-checkbox-background: var(--ore-checkbox-active-background-pressed);
  --ore-checkbox-highlight: var(--ore-checkbox-active-highlight-pressed);
}

:where(ore-checkbox[color="secondary"]) {
  --ore-checkbox-active-background: var(--ore-color-secondary-background);
  --ore-checkbox-active-background-hover: var(--ore-color-secondary-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-secondary-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-secondary-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-secondary-highlight-hover);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-secondary-highlight-pressed);
}

:where(ore-checkbox[color="destructive"]) {
  --ore-checkbox-active-background: var(--ore-color-destructive-background);
  --ore-checkbox-active-background-hover: var(--ore-color-destructive-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-destructive-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-destructive-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-destructive-highlight-hover);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-destructive-highlight-pressed);
}

:where(ore-checkbox[color="dungeons"]) {
  --ore-checkbox-active-background: var(--ore-color-dungeons-background);
  --ore-checkbox-active-background-hover: var(--ore-color-dungeons-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-dungeons-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-dungeons-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-dungeons-highlight);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-dungeons-highlight);
}

:where(ore-checkbox[color="legends"]) {
  --ore-checkbox-active-background: var(--ore-color-legends-background);
  --ore-checkbox-active-background-hover: var(--ore-color-legends-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-legends-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-legends-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-legends-highlight);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-legends-highlight);
}

:where(ore-checkbox[color="realms"]) {
  --ore-checkbox-active-background: var(--ore-color-realms-background);
  --ore-checkbox-active-background-hover: var(--ore-color-realms-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-realms-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-realms-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-realms-highlight);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-realms-highlight);
}

:where(ore-checkbox[color="gold"]) {
  --ore-checkbox-active-background: var(--ore-color-gold-background);
  --ore-checkbox-active-background-hover: var(--ore-color-gold-background-hover);
  --ore-checkbox-active-background-pressed: var(--ore-color-gold-background-pressed);
  --ore-checkbox-active-highlight: var(--ore-color-gold-highlight);
  --ore-checkbox-active-highlight-hover: var(--ore-color-gold-highlight);
  --ore-checkbox-active-highlight-pressed: var(--ore-color-gold-highlight);
}

:where(ore-checkbox:focus-visible)::before {
  box-shadow:
    0 0 0 var(--ore-checkbox-unit) var(--ore-color-focus-ring),
    inset 0 0 0 var(--ore-checkbox-unit) var(--ore-checkbox-border),
    inset 0 0 0 calc(var(--ore-checkbox-unit) * 2) var(--ore-checkbox-highlight);
}

:where(ore-checkbox:focus-visible:not([checked])) {
  --ore-checkbox-highlight: var(--ore-color-neutral-50-highlight-focus);
}

:where(ore-checkbox[disabled], ore-checkbox[form-disabled]) {
  --ore-checkbox-background: var(--ore-color-disabled);
  --ore-checkbox-highlight: var(--ore-color-disabled);
  --ore-checkbox-border: var(--ore-color-disabled-border);
  --ore-checkbox-indicator: var(--ore-color-disabled-border);

  cursor: not-allowed;
}
