:where(ore-slider) {
  --ore-slider-unit: var(--ore-size-unit);
  --ore-slider-progress: 0;
  --ore-slider-segment-size: 10%;
  --ore-slider-value: calc(
    var(--ore-slider-unit) * 7.25 + (100% - var(--ore-slider-unit) * 14.5) *
      var(--ore-slider-progress)
  );
  --ore-slider-track-border: var(--ore-color-border);
  --ore-slider-range-background: var(--ore-color-primary-background);
  --ore-slider-range-highlight: var(--ore-color-primary-highlight);
  --ore-slider-track-background: var(--ore-color-neutral-50-background);
  --ore-slider-track-highlight: var(--ore-color-neutral-50-highlight-focus);
  --ore-slider-thumb-background: var(--ore-color-secondary-background);
  --ore-slider-thumb-highlight: var(--ore-color-secondary-highlight);
  --ore-slider-thumb-shadow: var(--ore-color-secondary-shadow);
  --ore-slider-thumb-border: var(--ore-color-border);
  --ore-slider-thumb-focus-ring: transparent;
  --ore-slider-thumb-image:
    linear-gradient(
        var(--ore-slider-thumb-background),
        var(--ore-slider-thumb-background)
      )
      center calc(var(--ore-slider-unit) * 2) /
      calc(var(--ore-slider-unit) * 10.5) calc(var(--ore-slider-unit) * 8.5)
      no-repeat,
    linear-gradient(
        var(--ore-slider-thumb-shadow),
        var(--ore-slider-thumb-shadow)
      )
      center calc(var(--ore-slider-unit) * 11.5) /
      calc(var(--ore-slider-unit) * 12.5) calc(var(--ore-slider-unit) * 2)
      no-repeat,
    linear-gradient(
        var(--ore-slider-thumb-highlight),
        var(--ore-slider-thumb-highlight)
      )
      center var(--ore-slider-unit) / calc(var(--ore-slider-unit) * 12.5)
      calc(var(--ore-slider-unit) * 10.5) no-repeat,
    var(--ore-slider-thumb-border);
  --ore-slider-segments: none;

  position: relative;
  display: inline-block;
  width: min(100%, calc(var(--ore-slider-unit) * 254.5));
  height: calc(var(--ore-slider-unit) * 14.5);
}

:where(ore-slider[variant="segmented"]) {
  --ore-slider-segments: repeating-linear-gradient(
    to right,
    var(--ore-slider-track-border) 0 calc(var(--ore-slider-unit) / 2),
    transparent calc(var(--ore-slider-unit) / 2)
      calc(var(--ore-slider-segment-size) - var(--ore-slider-unit) / 2),
    var(--ore-slider-track-border)
      calc(var(--ore-slider-segment-size) - var(--ore-slider-unit) / 2)
      var(--ore-slider-segment-size)
  );
}

:where(ore-slider[orientation="vertical"]) {
  --ore-slider-value: calc(
    var(--ore-slider-unit) * 7.25 + (100% - var(--ore-slider-unit) * 14.5) *
      var(--ore-slider-progress)
  );

  width: calc(var(--ore-slider-unit) * 14.5);
  height: calc(var(--ore-slider-unit) * 127.25);
}

:where(ore-slider[orientation="vertical"][variant="segmented"]) {
  --ore-slider-segments: repeating-linear-gradient(
    to top,
    var(--ore-slider-track-border) 0 calc(var(--ore-slider-unit) / 2),
    transparent calc(var(--ore-slider-unit) / 2)
      calc(var(--ore-slider-segment-size) - var(--ore-slider-unit) / 2),
    var(--ore-slider-track-border)
      calc(var(--ore-slider-segment-size) - var(--ore-slider-unit) / 2)
      var(--ore-slider-segment-size)
  );
}

:where(ore-slider)::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: calc(var(--ore-slider-unit) * 5.5);
  background:
    var(--ore-slider-segments) center /
      calc(100% - var(--ore-slider-unit) * 14.5) 100% no-repeat,
    linear-gradient(
        to right,
        var(--ore-slider-range-background) 0 var(--ore-slider-value),
        var(--ore-slider-track-background) var(--ore-slider-value) 100%
      )
      center / calc(100% - var(--ore-slider-unit) * 4)
      calc(var(--ore-slider-unit) * 1.5) no-repeat,
    linear-gradient(
        to right,
        var(--ore-slider-range-highlight) 0 var(--ore-slider-value),
        var(--ore-slider-track-highlight) var(--ore-slider-value) 100%
      )
      center / calc(100% - var(--ore-slider-unit) * 2)
      calc(var(--ore-slider-unit) * 3.5) no-repeat,
    var(--ore-slider-track-border);
  content: "";
  transform: translateY(-50%);
  pointer-events: none;
}

:where(ore-slider[orientation="vertical"])::before {
  top: 0;
  right: auto;
  bottom: 0;
  left: 50%;
  width: calc(var(--ore-slider-unit) * 5.5);
  height: auto;
  background:
    var(--ore-slider-segments) center / 100%
      calc(100% - var(--ore-slider-unit) * 14.5) no-repeat,
    linear-gradient(
        to top,
        var(--ore-slider-range-background) 0 var(--ore-slider-value),
        var(--ore-slider-track-background) var(--ore-slider-value) 100%
      )
      center / calc(var(--ore-slider-unit) * 1.5)
      calc(100% - var(--ore-slider-unit) * 4) no-repeat,
    linear-gradient(
        to top,
        var(--ore-slider-range-highlight) 0 var(--ore-slider-value),
        var(--ore-slider-track-highlight) var(--ore-slider-value) 100%
      )
      center / calc(var(--ore-slider-unit) * 3.5)
      calc(100% - var(--ore-slider-unit) * 2) no-repeat,
    var(--ore-slider-track-border);
  transform: translateX(-50%);
}

:where(ore-slider > input[type="range"]) {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

:where(ore-slider[orientation="vertical"] > input[type="range"]) {
  writing-mode: vertical-lr;
  direction: rtl;
}

:where(ore-slider > input[type="range"])::-webkit-slider-runnable-track {
  height: calc(var(--ore-slider-unit) * 5.5);
  background: transparent;
}

:where(
  ore-slider[orientation="vertical"] > input[type="range"]
)::-webkit-slider-runnable-track {
  width: calc(var(--ore-slider-unit) * 5.5);
  height: 100%;
}

:where(ore-slider > input[type="range"])::-moz-range-track {
  height: calc(var(--ore-slider-unit) * 5.5);
  background: transparent;
}

:where(
  ore-slider[orientation="vertical"] > input[type="range"]
)::-moz-range-track {
  width: calc(var(--ore-slider-unit) * 5.5);
  height: 100%;
}

:where(ore-slider > input[type="range"])::-webkit-slider-thumb {
  width: calc(var(--ore-slider-unit) * 14.5);
  height: calc(var(--ore-slider-unit) * 14.5);
  margin-top: calc(var(--ore-slider-unit) * -4.5);
  appearance: none;
  border: 0;
  border-radius: 0;
  background: var(--ore-slider-thumb-image);
  box-shadow: 0 0 0 var(--ore-slider-unit) var(--ore-slider-thumb-focus-ring);
}

:where(
  ore-slider[orientation="vertical"] > input[type="range"]
)::-webkit-slider-thumb {
  margin-top: 0;
  margin-left: calc(var(--ore-slider-unit) * -4.5);
}

:where(ore-slider > input[type="range"])::-moz-range-thumb {
  width: calc(var(--ore-slider-unit) * 14.5);
  height: calc(var(--ore-slider-unit) * 14.5);
  appearance: none;
  border: 0;
  border-radius: 0;
  background: var(--ore-slider-thumb-image);
  box-shadow: 0 0 0 var(--ore-slider-unit) var(--ore-slider-thumb-focus-ring);
}

:where(ore-slider:hover:not([disabled], [form-disabled])) {
  --ore-slider-thumb-background: var(--ore-color-secondary-background-hover);
  --ore-slider-thumb-highlight: var(--ore-color-secondary-highlight-hover);
}

:where(ore-slider:active:not([disabled], [form-disabled])) {
  --ore-slider-thumb-background: var(--ore-color-secondary-background-pressed);
  --ore-slider-thumb-highlight: var(--ore-color-secondary-highlight-pressed);
}

:where(ore-slider:has(> input[type="range"]:focus-visible)) {
  --ore-slider-thumb-highlight: color-mix(
    in srgb,
    var(--ore-color-secondary-background),
    var(--ore-color-white) 60%
  );
  --ore-slider-thumb-focus-ring: var(--ore-color-focus-ring);
}

:where(ore-slider > input[type="range"]:focus-visible) {
  outline: none;
}

:where(ore-slider[disabled], ore-slider[form-disabled]) {
  --ore-slider-track-border: var(--ore-color-disabled-border);
  --ore-slider-range-background: var(--ore-color-disabled);
  --ore-slider-range-highlight: color-mix(
    in srgb,
    var(--ore-color-disabled),
    var(--ore-color-white) 10%
  );
  --ore-slider-track-background: var(--ore-color-disabled);
  --ore-slider-track-highlight: color-mix(
    in srgb,
    var(--ore-color-disabled),
    var(--ore-color-white) 20%
  );
  --ore-slider-thumb-background: var(--ore-color-disabled);
  --ore-slider-thumb-highlight: color-mix(
    in srgb,
    var(--ore-color-disabled),
    var(--ore-color-white) 60%
  );
  --ore-slider-thumb-shadow: var(--ore-color-disabled-shadow);
  --ore-slider-thumb-border: var(--ore-color-disabled-border);
}

:where(ore-slider[disabled], ore-slider[form-disabled]) > input[type="range"] {
  cursor: not-allowed;
}
